.abs {
    top: 0px;
    left: 0px;
    height: 10px;
    position: absolute;
    width: 100%;
    background: linear-gradient(0.25turn ,rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 1));
}
.abs:after {
    content: "axe X - abscisse ->";
    position: absolute;
    top: 10px;
    right: 10px;
}
.ord {
    top: 0px;
    left: 0px;
    height: 100%;
    position: absolute;
    width: 10px;
    background: linear-gradient(rgba(0, 0, 255, 0.1), rgba(0, 0, 255, 1));
}
.ord:after {
    content: "axe Y - ordonnée ";
    position: absolute;
    bottom: 10px;
    left: 20px;
}