body {
    margin-top: 0px;
    padding-top: 60px;
}

h1 {
    margin-top: 0px;
}

header {
    box-sizing: border-box;
    border: 1px solid #C00;
    background-color: #FFF;

    position: fixed;

    top: 0px;
    left: 0px;

    width: 100%;
    height: 50px;
}