
.position {
    width: 200px;
    height: 100px;
    background: #C00;
    color: #FFF;
    padding: 10px;

    position: absolute;
    top: 100px;
    left: 200px;

    box-sizing: border-box;
}

.position-2 {
    width: 500px;
    height: 200px;
    background: #00C;
    color: #FFF;
    padding: 10px;
    
    position: absolute;
    bottom: 200px;
    right: 500px;

    box-sizing: border-box;
}

.position-3 {
    width: 100px;
    height: 100px;
    background-color: chartreuse;
    color: #000;
    
    position: absolute;
    top: 50%;
    left: 50%;

    /* Décalage du haut et de la gauche de -50px;
    margin-top: -50px;
    margin-left: -50px;
    */
}