@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans&display=swap');

/*
font-family: 'Lobster', cursive;
font-family: 'PT Sans', sans-serif;
*/

body {
    font-family: 'PT Sans', sans-serif;
    padding-top: 130px;
}

h1,
h2,
h3 {
    font-family: 'Lobster', cursive;
    font-weight: normal;

    text-align: center;
}
h1 {
    margin-top: 10px;
}

header {
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 120px;
    background-color: beige;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin: 0 20px;
}


.images,
.articles {
    width: 75%;
    display: flex;
    margin: 0 auto;
}

.images {
    flex-wrap: wrap;
}
.images img {
    display: block;
    margin: 5px;
    width: calc(50% - 10px);
}
.articles {
    justify-content: space-evenly;
}
.articles article {
    width: 25%;
}