

.decale-a-gauche {
    padding-left: 2cm;
}
.decale-a-gauche-2 {
    padding-left: 20mm;
}

.decale-a-gauche-3 {
    padding-left: 75px;
}


.texte-16 {
    font-size: 16px;
}


body {
    font-size: 62.5%;
    /* 1em = 10px */
}
.texte-16-em strong {
    font-size: 2em;
}
.texte-16-em strong em {
    font-size: 2em;
}
.texte-16-em {
    font-size: 1em;
}

.texte-16-rem b {
    font-size: 0.625rem;
}
.texte-16-rem strong {
    font-size: 2rem;
}
.texte-16-rem strong em {
    font-size: 2rem;
}
.texte-16-rem {
    font-size: 1rem;
}