.rectangle {
    width: 500px;
    height: 200px;
    /*border: 3px dashed #000;*/
    outline: 3px dashed #000;
    /* marge intérieure */

    /*padding: 50px;*/
    padding-top: 50px;
    /*margin: 50px;*/
    margin-top: 50px;
    /*margin: 20px 59px 35px 25px;*/

    /* POINT DE REPERES */
    /* Ex: Margin 
        margin: Top Right Bottom Left (sens des aiguilles d'une montre en partant du haut gauche
        A noter que le haut gauche est très souvent le point de repère du navigateur
    */
    /* Syntaxe à 2 valeurs */
    padding: 50px 20px; /* Dans ce cas, on spécifie les valeurs verticales et horizontales */

    /* Syntaxe à 3 valeurs */
    padding: 50px 20px 10px; /* Dans ce cas, la valeur manquante est la gauche, on utilise donc celle de droite à l'identique. */
}


.interieur {
    background-color: #C00;
    width: 100%;
    height: 100%;
}

p {
    margin: 10px;
    font-size: 25px;
    color: #00C;
}

.vert {
    color: #0C0;
}


