body,
html {
    position: relative;
    height: 100%;  
}

body {
    background: rgba(255, 0, 0, .5); 
}
html {
    background: rgba(0, 0, 255, .5);
}
.rectangle {
    background-color: #C00;
}
.rectangle {
    width: 25%;
    height: 25%;
}
.rectangle-interieur {
    background-color: darkgrey;
    width: 25%;
    height: 25%;
}
.rectangle-bis {
    background-color: blue;
    width: 25vw;
    height: 25vh;
}